.feed {
  /* border: 2px solid green; */
  flex: 5.5;
  /* height: 92vh; */
  /* overflow-y: scroll; */
}
.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin-top: 1rem;
}
.scrollTop{
  width: 60px;
  height: 40px;
  position:fixed;
  /* top: 8rem; */
  bottom:1rem;
  right:0;
  cursor: pointer;
  margin:0.3rem 0;
  border-radius: 30%;
  color: rgb(38, 142, 228);;
}
