.feed {
  /* border: 2px solid green; */
  flex: 5.5;
  /* height: 92vh; */
  /* overflow-y: scroll; */
}
.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin-top: 1rem;
}



