.shareContainer {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 1px 16px -8px rgba(0, 0, 0, 0.68);
  margin-top: 2rem;
}

.shareWrapper {
  padding: 10px;
}
.shareTop {
  display: flex;
  align-items: center;
}
.shareProfieImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  color: #fff;
}
.shareInput {
  border: none;
  width: 80%;
}
.shareInput:focus {
  outline: none;
}

.shareHr {
  margin: 20px;
}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shareOptions {
  display: flex;
  margin-left: 20px;
}
.shareOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.shareIcon {
  width: 40px;
  height: 40px;
}

.shareOptionText,
.photo_video {
  font-size: 14px;
  font-weight: 500;
  margin-left:1rem;
}
.shareBtn {
  border: none;
  outline: none;
  padding: 7px;
  border-radius: 5px;
  background-color: #e45934;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  transition: all 0.2s ease-in-out;
}
.shareBtn:hover {
  background-color: #ff3a03;
  font-size: 1.1rem;
}
.shareAddIcon {
  width: 10%;
  height: 10%;
}
.shareImgContainer {
  padding: 0 20px 10px 20px;
  position: relative;
}
.shareProgressBarDiv {
  /* border: 2px solid black; */
  width: 30px;
  height: 31px;
  /* margin-left: 0.5rem; */
  margin-left: 1rem;
}
.shareImg {
  width: 100%;
  object-fit: cover;
}
.shareCancleImg {
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  opacity: 0.7;
}

@media only screen and (max-width: 533px) {
  .shareIcon {
    font-size: 12px;
  }
  .shareOptionText {
    font-size: 15px;
  }
  .photo_video {
    /* border: 2px solid black; */
    width: 80%;
    font-size: 15px;
  }
}
@media only screen and (max-width: 510px) {
  .shareIcon {
    font-size: 10px;
  }
  .shareOptionText {
    font-size: 15px;
  }
}
@media only screen and (max-width: 486px) {
  .shareBottom {
    /* border: 2px solid red; */
    height: 3rem;
  }
  .shareOptions {
    /* border: 2px solid green; */
    width: 70%;
  }
  .shareOption {
    /* border: 2px solid blue; */
    margin-left: 15px;
    height: 2rem;
  }
  .shareIcon {
    font-size: 10px;
  }
  .shareOptionText {
    font-size: 12px;
  }
  .photo_video {
    /* border: 2px solid black; */
    width: 80%;
    font-size: 10px;
  }

  .shareBtn {
    /* border: 2px solid red; */
    margin-left: 2rem;
  }
}
@media only screen and (max-width: 474px) {
  .shareBottom {
    /* border: 2px solid red; */
    height: 3rem;
  }
  .shareOptions {
    /* border: 2px solid green; */
    width: 80%;
    margin-left: 0;
  }
  .shareOption {
    /* border: 2px solid blue; */
    margin-left: 5px;
    height: 2rem;
  }
  .shareIcon {
    font-size: 8px;
  }
  .shareOptionText {
    font-size: 10px;
  }
  .photo_video {
    /* border: 2px solid black; */
    width: 70%;
    font-size: 10px;
  }

  .shareBtn {
    /* border: 2px solid red; */
    margin-left: 0.4rem;
  }
}
